<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>12E55</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>qmid</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>QMidi Document</string>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>LSTypeIsPackage</key>
			<true/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mid</string>
				<string>kar</string>
				<string>midi</string>
				<string>smf</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Midi.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/mid</string>
				<string>audio/midi</string>
				<string>audio/x-midi</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>QMidi MIDI document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>Midi</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>NSDocumentClass</key>
			<string>MIDIDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>PlayList.icns</string>
			<key>CFBundleTypeName</key>
			<string>QMidi PlayList document</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>SL**</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>NSDocumentClass</key>
			<string>PlayListDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>fold</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>disk</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>3gp</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/3gpp</string>
				<string>video/3gpp</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>3gpp</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>3gpp</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>m4p</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/x-m4p</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>M4P </string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>M4P </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>m4b</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/x-m4b</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>M4B </string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>M4B </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>m4a</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/x-m4a</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>M4A </string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>M4A </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mp4</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/mp4</string>
				<string>video/mp4</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>mpg4</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>mpg4</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>cdda</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/aiff</string>
				<string>audio/x-aiff</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>CDDA</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>CDDA</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>PLAY</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>PLAY</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>MPG3</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>MPG3</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mp3</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/mp3</string>
				<string>audio/mpeg</string>
				<string>audio/mpeg3</string>
				<string>audio/x-mp3</string>
				<string>audio/x-mpeg3</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Mp3 </string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>Mp3 </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>.WAV</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>.WAV</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sd2</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/x-sd2</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Sd2f</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>Sd2f</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>fli</string>
				<string>flc</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>video/flc</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>FLI </string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>FLC </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dv</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>video/x-dv</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>dvc!</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>dvc!</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>avi</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>video/avi</string>
				<string>video/msvideo</string>
				<string>video/x-msvideo</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>VfW </string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>VfW </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ulw</string>
				<string>au</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/basic</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>ULAW</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>ULAW</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>MPEG</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>MPEG</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>wav</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/wav</string>
				<string>audio/x-wav</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>WAVE</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>WAVE</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>m75</string>
				<string>mpg</string>
				<string>mpeg</string>
				<string>m15</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/mpeg</string>
				<string>audio/x-mpeg</string>
				<string>video/mpeg</string>
				<string>video/x-mpeg</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>MPG </string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>MPG </string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>aif</string>
				<string>aiff</string>
				<string>aifc</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/aiff</string>
				<string>audio/x-aiff</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>AIFC</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>AIFC</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>AIFF</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>AIFF</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mov</string>
				<string>qt</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>video/quicktime</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>MooV</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>MooV</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>flac</string>
			</array>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>audio/x-flac</string>
				<string>audio/flac</string>
				<string>application/x-flac</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>FLAC audio</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>SyncedTextDocument</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>NSDocumentClass</key>
			<string>SyncedTextDocument</string>
		</dict>
		<dict>
			<key>CFBundleTypeName</key>
			<string>SyncedPDFDocument</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>NSDocumentClass</key>
			<string>SyncedPDFDocument</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>QMidi Pro</string>
	<key>CFBundleGetInfoString</key>
	<string>QMidi Pro 2.3.2, © 2000-2013 [k'd] by LfsCrew</string>
	<key>CFBundleHelpBookFolder</key>
	<string>QMidi Help</string>
	<key>CFBundleHelpBookName</key>
	<string>QMidi Help</string>
	<key>CFBundleIconFile</key>
	<string>QMidi</string>
	<key>CFBundleIdentifier</key>
	<string>com.mixage.qmidipro</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>QMidi Pro</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.3.2</string>
	<key>CFBundleSignature</key>
	<string>Qmd2</string>
	<key>CFBundleVersion</key>
	<string>2.3.2</string>
	<key>DTCompiler</key>
	<string></string>
	<key>DTPlatformBuild</key>
	<string>10M2518</string>
	<key>DTPlatformVersion</key>
	<string>PG</string>
	<key>DTSDKBuild</key>
	<string>9L31a</string>
	<key>DTSDKName</key>
	<string>macosx10.5</string>
	<key>DTXcode</key>
	<string>0400</string>
	<key>DTXcodeBuild</key>
	<string>10M2518</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.music</string>
	<key>NSAppleScriptEnabled</key>
	<true/>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>AppResponder</string>
	<key>OSAScriptingDefinition</key>
	<string>QMidi.sdef</string>
	<key>SUFeedURL</key>
	<string>http://www.mixagesoftware.com/en/qmidi/sparkle/com.mixage.qmidipro.xml</string>
	<key>SUPublicDSAKeyFile</key>
	<string>dsa_pub.pem</string>
</dict>
</plist>
